{% extends 'base.html' %}
{% load static %}

{% block title %} Table Logs {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Isi Attack Log</a>.</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Attack Log</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Timestamp</th>
                            <th>IP Client</th>
                            <th>Message</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2023/11/20</td>
                            <td>192.168.1.1</td>
                            <td>SQL Injection</td>
                            
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2023/11/20</td>
                            <td>192.168.1.1</td>
                            <td>SQL Injection</td>
                            
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2023/11/20</td>
                            <td>192.168.1.2</td>
                            <td>Command Injection</td>
                            
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2023/11/20</td>
                            <td>192.168.1.3</td>
                            <td>XSS Attack</td>
                            
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}